* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    /*padding: 0 96px;*/
    min-height: 100vh; /* Makes body exactly the height of the viewport */
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    padding: 0 128px;
}

.header {
    padding: 8px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-content {
    padding: 96px 0;
    display: flex;
    gap: 32px;
}

.hero-text {
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext {
    margin-bottom: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
}

.hero-img {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.information {
    box-sizing: border-box;
    padding: 64px 256px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 48px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.information-boxes {
    display: flex;
    gap: 32px;
}

.information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex: 1;
}

.information-media {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.media-subtext {
    color: #1F2937;
    text-align: center;
}

.quote {
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 80px 240px;

}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;  
}

.quote-source {
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.footer { 
    background-color: #1F2937;
    color: white;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}