* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    /*padding: 0 96px;*/
    min-height: 100vh; /* Makes body exactly the height of the viewport */
    display: flex;
    flex-direction: column;
}

.primary-background {
    background-color: #1F2937; 
}

.on-primary-text {
    color: #F9FAF8; 
}

.on-primary-secondary-text {
    color: #E5E7EB;
}

.secondary-background {
    background-color: #E5E7EB;
}

.on-secondary-text {
    color: #1F2937;
}

.hero {
    padding: 16px 128px 0; 
}

.header {
    padding: 8px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.hero-content {
    padding: 96px 0;
    display: flex;
    gap: 32px;
}

.hero-text {
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    margin-bottom: 16px;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
}

.hero-img {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.information {
    box-sizing: border-box;
    padding: 64px 256px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 48px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.information-boxes {
    display: flex;
    gap: 32px;
}

.information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1;
}

.information-media {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.media-subtext {
    text-align: center;
}

.quote {
    padding: 80px 240px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;  
}

.quote-source {
    font-size: 18px;
    font-weight: bolder;
    text-align: end;
}

.action {
    padding: 64px 128px;
}

.action-banner {
    background-color: #3882F6;
    padding: 48px 112px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-title {
    font-size: 20px;
    font-weight: bold;
}

.action-button {
    border: 2px solid #F9FAF8;
}

.footer { 
    color: white;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}